# EmailJS Configuration 

# EmailJS Service ID
VITE_EMAILJS_SERVICE_ID=your_service_id

#  EmailJS Template ID
VITE_EMAILJS_TEMPLATE_ID=your_template_id

# EmailJS Public Key (User ID)
VITE_EMAILJS_PUBLIC_KEY=your_public_key